
body{
    min-height: 100vh;
    display: grid;
    font-style: georgia;
    font-size: 11pt;
    margin: 0;
}

header{
    color: black;
    text-align: center;
    padding: 20px;
    background-color: rgb(255, 226, 129);
}

footer{
    color: black;
    text-align: center;
    display: grid;
    grid-auto-flow: column;
    padding: 10px;
    background-color: rgb(255, 226, 129);
}

.logo-header {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    place-items: center;
}

.three-col-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 15px;
}

.recipe-introduction{
    text-align: center;
    max-width: 76ch;
    line-height: 1.2;
    margin: auto;
    padding: 1.2rem;
    font-style: georgia;
}

@media (max-width: 600px){
    .three-col-layout{
        display: block;
    }
}   

img.recipe-10-main{
    height: 100%;
    width: 100%;
}

img.recipe-image{
    height: 100%;
    width: 100%;
}

.ingredient-title{
    text-decoration: underline;
    font-size: 24px
}

.ingredient-time-title{
    text-decoration: underline;
    font-size: 18px;
}

.main-ingredient-list{
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    font-style: georgia;
}

.secondary-ingredient-list{
    text-decoration: underline;
    font-size: 18px;
    font-weight: bold;
    font-style: georgia;
}

.stepbystep-instruction{
    font-style: georgia;
    max-width: 76ch;
}

.stepbystep-title{
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

.contact-title{
    text-align: center;
    text-decoration: underline;
}

.contact-content{
    text-align: center;
    max-width: 76ch;
    line-height: 1.2;
    margin: auto;
    padding: 1.2rem;
    font-style: georgia;
}

a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-style: georgia;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

a:hover{
    text-decoration: underline black;
}

.recipe-navigation{
    text-align: center;
    padding-top: 20px;
}

.stepbystep-navigation{
    text-align: center;
    padding-top: 20px;
}

button:hover{
    background-color: rgb(156, 156, 156);
}

button:active{
    background-color: black;
    color: white;
}